*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    background-color: #1a1a1a;
    color: #c0bbbb;
}
#container{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 30px;
}

#add-btn{
    background-color: #0414f8;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    padding: 12px;
    width: 200px;
    cursor: pointer;
    
}
#add-btn:hover{
    background-color: #091291;
    color: rgb(227, 219, 219);
}
input{
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 500px;
    margin-right: 10px;
    margin-left: 380px;
    background-color: #b4b1b1;
}
ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
ul li{
    list-style: none;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    
}